@page "/"
@rendermode InteractiveServer

<style>
    .container {
        width: 100%;
        height: 100vh;
        background: #e2e6eb;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator {
        background: #ffffff;
        padding: 20px;
    }

    .display {
        display: flex;
        width: 500px;
        background: #FFECD7;
        justify-content: center;
    }

</style>

<div class="container">
    <div class="calculator">
        <div class="header">
            <h2>
                Calculator
            </h2>
            <button @onclick="Clear" class="btn btn-primary">Clear</button>
        </div>
        <div class="display">
            <input placeholder="Enter values below and select an operation." readonly @bind-value="finalresult">
        </div>
        <div class="row">
            <div class="input">
            <p>First Number</p>
        </div>
        <div class="input">
            <input placeholder="0" @bind-value="num1" />
        </div>
    </div>
    <div class="row">
        <div class="input">
        <p>Second Number</p>
    </div>
    <div class="input">
        <input placeholder="0" @bind-value="num2" />
    </div>
</div>

<br />
<div class="row">
    <button @onclick="AddNumbers" class="btn btn-primary">A + B</button>
    <button @onclick="Factorial" class="btn btn-primary">A!</button>
</div>
<br />
<div class="row">
    <button @onclick="SubtractNumbers" class="btn btn-primary">A - B</button>
    <button @onclick="Sin" class="btn btn-primary">sin A</button>
</div>
<br />
<div class="row">
    <button @onclick="MultiplyNumbers" class="btn btn-primary">A * B</button>
    <button @onclick="Cos" class="btn btn-primary">cos A</button>
</div>
<br />
<div class="row">
    <button @onclick="DivideNumbers" class="btn btn-primary">A / B</button>
    <button @onclick="Tan" class="btn btn-primary">tan A</button>
</div>
<br />
<div class="row">
    <button @onclick="AddNumbers" class="btn btn-primary">A + B</button>
    <button @onclick="DivA" class="btn btn-primary">1 / A</button>
</div>
<br />
<div class="row">
    <button @onclick="Power" class="btn btn-primary">A ^ B</button>
</div>
<br />
<div class="row">
    <button @onclick="Log" class="btn btn-primary">A log B</button>
</div>
<br />
<div class="row">
    <button @onclick="Root" class="btn btn-primary">A root B</button>
</div>
</div>
</div>


@code {
    private string num1, num2, finalresult;

    private void AddNumbers()
    {
        finalresult = (Convert.ToDouble(num1) + Convert.ToDouble(num2)).ToString();
    }

    private void SubtractNumbers()
    {
        finalresult = (Convert.ToDouble(num1) - Convert.ToDouble(num2)).ToString();
    }

    private void MultiplyNumbers()
    {
        finalresult = (Convert.ToDouble(num1) * Convert.ToDouble(num2)).ToString();
    }

    private void DivideNumbers()
    {
        if (Convert.ToDouble(num2) != 0)
        {
            finalresult = (Convert.ToDouble(num1) / Convert.ToDouble(num2)).ToString();
        }
        else
        {
            finalresult = "Cannot Divide By Zero";
        }
    }

    private void Power()
    {
        var a = Convert.ToDouble(num1);
        var b = Convert.ToDouble(num2);
        var result = Math.Pow(a, b);
        finalresult = result.ToString();
    }

    private void Log()
    {
        var a = Convert.ToDouble(num1);
        var b = Convert.ToDouble(num2);
        var result = Math.Log(a, b);
        finalresult = result.ToString();
    }

    private void Factorial()
    {
        var a = Convert.ToDouble(num1);
        var result = FactorialOperation(a);
        finalresult = result.ToString();
    }

    private double FactorialOperation(double a)
    {
        if (a == 0)
        {
            return 0;
        }
        else if (a < 0)
        {
            var b = a+1;
            return a * FactorialOperation(b);
        }
        else if (a > 1)
        {
            var b = a-1;
            return a * FactorialOperation(b);
        }
        else
        {
            return 1;
        }
    }

    private void Root()
    {
        var a = Convert.ToDouble(num1);
        var b = Convert.ToDouble(num2);
        var result = Math.Pow(a, 1.0 / b);
        finalresult = result.ToString();
    }

    private void Sin()
    {
        var a = Convert.ToDouble(num1);
        var result = Math.Sin(a);
        finalresult = result.ToString();
    }

    private void Cos()
    {
        var a = Convert.ToDouble(num1);
        var result = Math.Cos(a);
        finalresult = result.ToString();
    }

    private void Tan()
    {
        var a = Convert.ToDouble(num1);
        var result = Math.Tan(a);
        finalresult = result.ToString();
    }

    private void DivA()
    {
        var a = Convert.ToDouble(num1);
        if (a != 0)
        {
            finalresult = (1 / a).ToString();
        }
        else
        {
            finalresult = "Cannot Divide By Zero";
        }
    }

    private void Clear()
    {
        finalresult = "Enter values below and select an operation.";
        num1 = "0";
        num2 = "0";
    }
}